<div class="admin-page-lis"><span>Latest 10 Tweets of <%= current_user.name%></span></div>
<div class="admin-bot-lis">
  <% if @tweets %>
  <% @tweets.each do |tweet| %>
    <table width="100%" border="0" cellpadding="7" cellspacing="0"  class="ad-table1">
      <tr>
        <td width="90">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center"><%= link_to image_tag(tweet.profile_image_url), :class => 'blanck-img' %><br />
               <%=tweet.from_user%></td>
            </tr>
            </table>
         </td>
          <td valign="top">
          <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                  <td class="date"><span>Tweet: <em><%= tweet.text %></em></span> <span>Date <em> <%=  tweet.twitter_created_at.to_date %> </span> </td>
              </tr>
            </table>
            </td>
        </tr>
      
 </table>
 <% end %>
<% end%>
</div>
