<h1>Listing atricles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atricles.each do |atricle| %>
  <tr>
    <td><%= atricle.name %></td>
    <td><%= atricle.description %></td>
    <td><%= link_to 'Show', atricle %></td>
    <td><%= link_to 'Edit', edit_atricle_path(atricle) %></td>
    <td><%= link_to 'Destroy', atricle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atricle', new_atricle_path %>
