<!DOCTYPE html>
<html>
<head>
  <title>RorEcommerceDev</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <div class="home-cl">
    <p>Test Application <br />
      Upload for Android or <br />
      <a href="#">eSiteWorld.com</a></p>
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>  </div>
</div>
<%= yield %>

</body>
</html>
